@import url(https://fonts.googleapis.com/css?family=Lato);

*{
	margin: 0;
}
body {
    padding-top: 100px;
    padding-bottom: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    height:100%;
}

/*Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:15px;
    min-height: calc(100vh - 125px);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#map_canvas {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
}

#map_spacer {
    height: 400px;
    width: 100%;
}

.wrapper {
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: #EEEEEE;
    width: 100%;
}
.first {
    padding-bottom: 20px;
    padding-top: 30px;
}

.second {
    padding-bottom: 20px;
}

.third {
    padding-bottom: 30px;
}

.featured {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}
.fres {
    margin-top: 20px;
    text-align: left;
    color: white;
    
}
.fres1 {
    background-color: #c0392b;
    padding-bottom: 15px;
}
.gap-right {
    margin-right: 10px;
}
.citybg {
     background-image: url("../images/lr.jpg");
     background-repeat: no-repeat;
     height: 315px;
     margin: 0 -15px;
}
h2 {
    text-align: center;
    font-weight: bold;
}
.list {
    background-color: white;
    padding-bottom: 50px;
}

.footer {
    text-align: center;
    color: #000000;
}

.navbar {
    height: 110px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #c0392b;
    margin-bottom: 10px;

}
.navbar-inverse .navbar-nav > li > a {
     color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
     color: #959595;
}

.navbar-nav {
    padding-top: 25px;   
}

.logo {
    display: block;
}

.logo img {
    display: block;
    margin-left: -3px;
    margin-right: auto;
    height: 100px;
}
p{
    font-size: 15px;
}
.detailspix {
    padding-top: 60px;
}
.search {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
}
a:link {
      color: #c0392b;
}
a:visited {
  color: #c0392b;
}
h1{
    text-align: center;
    font-weight: bold;
}

