
@{
    ViewBag.Title = "UploadImages";
}

<h2>UploadImages</h2>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("UploadImages", "RestaurantsTemp", FormMethod.Post,
                 new { enctype = "multipart/form-data" }))
        {
            <div>   
                File: <input type="file" name="image" value="" />

                <input type="submit" value="Please Upload" />
            </div>
        }

    </div>
</div>